#loading {
    width: 43px;
    height: 11px;
    display: none;
    background: url('../img/loading.gif') no-repeat;
}

#results {
    display: none;
}

#search-title {
    display: none;
}

.pagination {
    /*display: none;*/
}

#records-found {
    display: none;
    font-weight: bold;
}